spring:
  application:
    name: todo

  # DB 연결 설정
  datasource:    # 연결 끊겨도 데이터 유지 / 앱 꺼져도 잠깐 더 데이터 유지
    url: jdbc:postgresql://todos.c3446a6cs0y1.ap-northeast-2.rds.amazonaws.com:5432/todo
    driver-class-name: org.postgresql.Driver
    username : ${DB_USERNAME}
    password : ${DB_PASSWORD}

# jpa 설정
  jpa:
    hibernate: # 구현체 (하이버네이트) 설정
      ddl-auto: update # 테이블 자동 생성/수정
    show-sql: true # 실행되는 sql문 콘솔에 보여줌
    properties: # 추가 설정
      hibernate:
        format_sql: true # sql문 들여쓰기/줄바꿈 해서 출력

# Redis 설정
  data:
    redis:
      host: redis # localhost -> redis 컨테이너의 service name
      port: 6379

# 캐시 설정 - redis 사용
  cache:
    type: redis



  kafka:
    bootstrap-servers: kafka:9092 # kafka 서버 주소
    topic: # 우편함
      todo-created: todo-created   # 토픽 이름 하드코딩 방지
    consumer: # 메시지 받는 쪽
      group-id: todo-group # 컨수머 그룹 이름 (같은 그룹이면 중복 수신 안함)
      # 메시지 읽기 시작 위치. earliest = 처음부터. latest = 새로 들어온 것 부터
      auto-offset-reset: earliest
      # 받을 때 key와 value 변환 방법. byte -> string
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer: # 메시지 보내는 쪽
      # 보낼 때 key value 변환 방법. String -> byte
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer


# jwt 시크릿 키
jwt:
  secret: ${JWT_SECRET}

# 모니터링
management:
  endpoints: #actuator 관련 설정
    web: # 웹으로 보는 설정
      exposure: # 어떤 정보 보여줄지 정하기
        include: prometheus # /actuator/prometheus만 접근 가능
  metrics: # 성능 지표 설정
    export: # 지표를 밖으로 보내는 설정
      prometheus: # prometheus로 보낼 때 설정
        enabled: true # prometheus로 보내기 true로 작동시키기

# 로그 설정
logging:
  file:
    name: logs/todoApp.log # 로그 파일 저장 위치
  level: # 로그 출력 단계
    root: info # info 이상만 보이게 함 (debug 안나옴)